<Directory /css>
   Options +Indexes
</Directory>

<Directory /img>
   Options +Indexes
</Directory>

<Directory /js>
   Options +Indexes
</Directory>

<Directory /mail>
   Options +Indexes
</Directory>

<Directory /vendor>
   Options +Indexes
</Directory>
